<!doctype html>
<head>
    <title>Gable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="spacer">
        <!-- Display alerts from flask server -->
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
    </div>
    <div id="game">
        <h1 id="title">Gable</h1><br><br>
        <div class="container" id="guesses">{{ serialize_state()|safe }}</div>
        <button id="reset" onclick="onNewWord()">New Word</button>
        <div class="container" id="key-state">
            {{serialize_key_state()|safe}}
        </div>
    </div>
    <div id="help">
        <h1>How To Play</h1>
        <p>Guess the Gable in 6 tries.</p>
        <ul>
            <li>Each guess must be a valid 5-letter word.</li>
            <li>The color of the tiles will change to show how close your guess was to the word.</li>
        </ul>
        <h3>Examples</h3>
        {{ string_to_div("WORDY")|safe}}
        <p><b>W</b> is in the word and in the correct spot.</p>
        {{string_to_div("LIGHT")|safe}}
        <p><b>I</b> is in the word but in the wrong spot.</p>
        {{string_to_div("ROGUE")|safe}}
        <p><b>U</b> is not in the word in any spot.</p>
    </div>
    <script>
        // Request flask server to reset the game,
        // then reload the page for changes to
        // be displayed
        function onNewWord() {
            fetch('/reset-state', {
                method: 'POST'
            }).then(() => {
                location.reload();
            });
        }

        document.addEventListener('keydown', function(event) {
            // Send the latest key press wrapped in JSON to
            // the flask server for game logic
            fetch('/keypress', {
                method: 'POST',
                headers: {
                    'Content-Type' : 'application/json'
                },
                body: JSON.stringify({key: event.key})
            }).then(() => {
                // Inject resultant HTML onto clients webpage
                // through a GET request to the server
                fetch('/progress_update')
                    .then(response => response.text())
                    .then(html => {
                        const tempDiv = document.createElement('div');
                        tempDiv.innerHTML = html;

                        document.getElementById('guesses').replaceWith(
                                tempDiv.querySelector('#guesses'));
                        document.getElementById('key-state').replaceWith(
                                tempDiv.querySelector('#key-state'));
                        document.getElementById('spacer').replaceWith(
                                tempDiv.querySelector('#spacer'));
                    });
            });
        });
    </script>
</body>
